<%= form_with(url: our_path, method: "get", local: true) do |form| %>
  <p>
    <%= form.label :search %><br>
    <%= form.text_field :search, :value => @search %>
    <%= form.submit "search", :name => "" %>
  </p>
<% end %>